.coverage
MANIFEST
coverage.xml
nosetests.xml
junit-report.xml
pylint.txt
toy.py
violations.pyflakes.txt
cover/
build/
docs/_build
*.egg-info/
*.pyc
*.swp
*.egg
env/
.workon
dist/
.idea/
tests/samples/wikipedia/*[.pdf, .svg]
tests/samples/W3C_SVG_12_TinyTestSuite*
tests/samples/misc/*.pdf
